<div class="row">
  <div class="col d-flex justify-content-center">
    <canvas
      *ngIf="pieChartDatasets[0]?.data?.length > 0; else noData"
      height="350"
      baseChart
      class="chart"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [type]="chartType"
      [legend]="pieChartLegend"
    >
    </canvas>
    <ng-template #noData>
      <div class="d-flex align-items-center justify-content-center chart-no-data">
        <h3>No data available</h3>
      </div>
    </ng-template>
  </div>
</div>
