<div class="row">
  <div class="col">
    <canvas
      *ngIf="lineChartData[0].data.length > 0; else noData"
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    >
    </canvas>
    <ng-template #noData>
      <div class="d-flex align-items-center justify-content-center chart-no-data">
        <h3>No data available</h3>
      </div>
    </ng-template>
  </div>
</div>
